--
Λαμβάνετε αυτό το μήνυμα απο την λίστα: {{ item.desc }},
https://lists.ellak.gr/{{ item.name }}/listinfo.html

Μπορείτε να απεγγραφείτε από τη λίστα στέλνοντας μήνυμα ηλ. ταχυδρομείου στη διεύθυνση <{{ item.name }}+unsubscribe@ellak.gr>.
