<!-- {{ansible_managed }} -->
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>ΕΛ/ΛΑΚ Νέα - {{ month }}</title>

<style>

h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #333;
  margin: 10px 0 14px 0;
  padding: 0;
}

ul {
  margin: 0 0 0 24px;
  padding: 0;
}

ul > li {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #a72323;
}

ul > li > a {
 font-family: "Open Sans", sans-serif;
 font-size: 11px;
 font-weight: normal;
 color: #a72323;
 text-decoration: none;
}

#navigation {
  position: fixed;
  top: 0;
  width: 100%;
  color: #ffffff;
  height: 35px;
  text-align: center;
  padding-top: 15px;
  /* Adds shadow to the bottom of the bar */
  -webkit-box-shadow: 0px 0px 8px 0px gray!important;
  -moz-box-shadow: 0px 0px 8px 0px gray!important;
  box-shadow: 0px 0px 8px 0px #000000;
  /* Adds the transparent background */
  font-family: "Lucida Sans Unicode", "Open Sans", sans-serif!important;

  background-color: rgba(0, 101, 165, 0.6);
  background: rgba(0, 101, 165, 0.6);
  color: rgba(0, 101, 165, 0.6);
}

#navigation a {
  color:gray;
  font-size:14px;
  padding:10px;
  text-decoration:none;
  background-color: whitesmoke;
}

#navigation a:hover {
  color: grey;
}

/* This just adds some style to the placeholder text */

#content {
  width: 600px;
  padding-top: 70px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

#content img {
  padding-top: 20px;
  padding-bottom: 30px;
}
</style>

  </head>

<body style="margin: 0;padding: 0;background-color: #fff">
  <div id="navigation">
    <a href="https://newsletters.ellak.gr/?p=subscribe">Εγγραφή για ενημέρωση</a>  |
    <a href="https://newsletters.ellak.gr/?p=unsubscribe">Απεγγραφή</a>  |
    <a href="https://newsletters.ellak.gr/archives/newsletter_index.html">Όλα τα ενημερωτικά δελτία</a>
  </div>
  <br />
  <br />
  <br />
  <table width="100%" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td align="center">
    <table width="780" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td class="header" valign="bottom" align="middle" style="background-image: url(https://newsletter.ellak.gr/1406/header.jpg);background-repeat: no-repeat;background-position: top center;background-color: #b62e2e;height: 130px">
      <img src="https://newsletter.ellak.gr/1406/header.jpg" alt="ΕΛΛΑΚ ΝΕΑ" width="780" height="130"/></td>
        </tr><tr><td>
        <!-- Left table -->
        <table class="content" width="780" border="0" cellpadding="0" cellspacing="16" height="130" style="background-color: #f5f5f5"><tbody><tr><td class="sidebar" valign="top" width="192" align="left">

<!-- +++++++   ΕΛ/ΛΑΚ  (start)  ++++++++ -->
{% if ellak  %}
          <h3>ΕΛ/ΛΑΚ</h3>
{% endif %}

{% for item in ellak %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- +++++++   Creative Commons  (start)  +++++++ -->
{% if cc %}
          <h3>Creative Commons Greece</h3>
{% endif %}
{% for item in cc %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- ++++++  Ανοιχτό Περιεχόμενο  (start)  +++++++ -->
{% if mycontent %}
          <h3>Ανοιχτό Περιεχόμενο</h3>
{% endif %}
{% for item in mycontent %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- ++++++  Planet  (start)  +++++++++ -->
{% if planet %}
          <h3>Πλανήτης ΕΛ/ΛΑΚ</h3>
{% endif %}
{% for item in planet %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- +++++  Opengov  (start)  ++++++ -->
{% if opengov %}
          <h3>Ανοιχτή Διακυβέρνηση</h3>
{% endif %}
{% for item in opengov %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- ++++++  OpenData  (start)  ++++++++ -->
{% if opendata %}
          <h3>Ανοιχτά Δεδομένα</h3>
{% endif %}
{% for item in opendata %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- ++++   OpenDataInstitute  (start)  +++++ -->
{% if odi %}
          <h3>Open Data Institute – Athens Node</h3>
{% endif %}
{% for item in odi %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- +++++  OBS  (start)  ++++++ -->
{% if obs %}
          <h3>Διεθνής συνεργασία για τους Ανοιχτούς Προϋπολογισμούς</h3>
{% endif %}
{% for item in obs %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- ++++++  EDU  (start)  +++++ -->
{% if edu %}
          <h3>Ανοιχτές τεχνολογίες στην εκπαίδευση</h3>
{% endif %}
{% for item in edu %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- +++++  OpenStandards  (start)  +++++ -->
{% if openstandards %}
          <h3>OpenStandards</h3>
{% endif %}
{% for item in openstandards %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- +++++  OpenHardware  (start)  +++++ -->
{% if openhardware %}
          <h3>Ανοιχτές τεχνολογίες</h3>
{% endif %}
{% for item in openhardware %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- ++++++  OpenWiFi  (start)  +++++++ -->
{% if openwifi %}
          <h3>OpenWiFi</h3>
{% endif %}
{% for item in openwifi %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- ++++++  Legal  (start)  ++++++ -->
{% if legal %}
          <h3>Νομοθεσία</h3>
{% endif %}
{% for item in legal %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<hr>
<!-- ++++++  Working groups  (start)  ++++++ -->
<h3>Ομάδες Εργασίας:</h3>
<!-- ++++++  Working groups  (stop)  ++++++ -->

<!-- ++++++  WG-opengov  (start)  ++++++ -->
{% if wg_opengov %}
          <h3>Ανοιχτής Διακυβέρνησης</h3>
{% endif %}
{% for item in wg_opengov %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- ++++++  WG-opendata  (start)  ++++++ -->
{% if wg_opendata %}
          <h3>Ανοιχτών Δεδομένων</h3>
{% endif %}
{% for item in wg_opendata %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- ++++++  WG-openstandards  (start)  ++++++ -->
{% if wg_openstandards %}
          <h3>Για τα Ανοικτά πρότυπα και Άδειες</h3>
{% endif %}
{% for item in wg_openstandards %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- ++++++  WG-openhardware  (start)  ++++++ -->
{% if wg_openhardware %}
          <h3>Για το Ανοικτό hardware και τα Ασύρματα δίκτυα</h3>
{% endif %}
{% for item in wg_openhardware %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- ++++++  WG-privacy  (start)  ++++++ -->
{% if wg_privacy %}
          <h3>Για την Ασφάλεια και την Ιδιωτικότητα</h3>
{% endif %}
{% for item in wg_privacy %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- ++++++  WG-foss  (start)  ++++++ -->
{% if wg_foss %}
          <h3>Για το Ανοιχτό Λογισμικό</h3>
{% endif %}
{% for item in wg_foss %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}

<!-- ++++++  WG-oer  (start)  ++++++ -->
{% if wg_oer %}
          <h3>Για το Ανοιχτό Περιεχόμενο στην εκπαίδευση</h3>
{% endif %}
{% for item in wg_oer %}
          <ul>
            <li>
              <a href="{{ item.url }}">
                {{ item.desc }}
              </a>
            </li>
          </ul>
{% endfor %}


          <hr>
<!-- ++++++  Weekly events  (start)  +++++++ -->

          <h3>Οι εκδηλώσεις του μήνα</h3>
          <ul>
{% for item in events %}
              <li>
                <a href="{{ item.url }}">
                    {{ item.desc }}
                  </a>
              </li>
{% endfor %}
          </ul>

          <hr>

<!-- +++++  Lists  (start)   ++++++ -->
          <a href="https://lists.ellak.gr/">
          <h3>Λίστες Ταχυδρομείου</h3>
          </a>

          <br />

<!-- ++++++  Weekly events  (end)  +++++++ -->

           </td>

           <td class="border" width="2" style="border-right: 2px solid #e0e0e0"> </td>

          <!-- Start right content -->
           <td class="mainbar" valign="top" width="500" align="left">

             <!-- Month -->
             <h2 style="font-family: &quot;Open Sans&quot;, Georgia, serif;font-size: 18px;font-weight:bold;color: #333;margin: 10px 0 14px 0;padding: 0">{{ month }}</h3>

             <!-- News with images -->
             {% for item in main %}
             <br />
             <h2 style="font-family: &quot;Open Sans&quot;, sans-serif;font-size: 16px;font-weight: bold;color: #a72323;margin: 0 0 4px 0;padding: 0 0 4px 0;border-bottom: 1px solid #cbcbcb">
              {{ item.title }}
             </h2>

             <p style="font-family: &quot;Open Sans&quot;, sans-serif;font-size: 12px;font-weight: normal;color: #333;margin: 0 0 16px 0;padding: 0">
             <img src="{{ item.img }}" width="160" style="float: left; padding-right: 5px;"/>
              {{ item.desc }}
              <a href="{{ item.url }}" style="font-family: &quot;Open Sans&quot;, sans-serif;font-size: 12px;font-weight: normal;color: #a72323;text-decoration: none">Περισσότερα »</a>
             </p>
             <br />
             <br />
             <br />
             {% endfor %}

             <br />
             <br />

                          <!-- Do not edit below this line! -->
                          <center>
                            <img src="https://newsletter.ellak.gr/images/hr-small.gif" alt="Small hr" width="192" height="28"/><ul><li style="font-family: &quot;Open Sans&quot;, sans-serif;font-size: 12px;font-weight: normal;color: #a72323;list-style-type:none;"><a href="https://newsletter.ellak.gr/newsletter_index.html" style="font-family: &quot;Open Sans&quot;, sans-serif;font-size: 12px;font-weight: normal;color: #a72323;text-decoration: none;list-style-type:none;"><h2>Όλα τα ενημερωτικά δελτία</h2></a></li>
                          </center>

                          </ul>

                        </td>

                      </tr></tbody></table></td>

              </tr></tbody></table><table width="750" border="0" cellpadding="0" cellspacing="0"><tbody><tr><td>

                      <img src="https://newsletter.ellak.gr/1406/footer-tail.jpg" alt="Footer" width="867" height="87"/></td>

                  </tr><tr><td class="footer" align="center" style="padding: 20px 0 20px 0">

                      </p>
                      <p style="font-family: &quot;Open Sans&quot;, sans-serif;font-size: 10px;font-weight: normal;color: #151515">Το υλικό του ΕΛΛΑΚ ΝΕΑ διανέμεται με την άδεια χρήσης:<br/><img src="https://newsletter.ellak.gr/images/cc_BY.png" width="88"/><br/><a href="https://creativecommons.org/licenses/by/3.0/gr/">Creative Commons Αναφορά προέλευσης 3.0 Ελλάδα</a>.

                      </p>

                    </td>

                  </tr></tbody></table></td>

      </tr></tbody></table>

      </body>

</html>
