#{{ ansible_managed }}
#
myhostname = {{ fqdn }}
myorigin = $myhostname
smtpd_banner = $myhostname ESMTP $mail_name
mydestination = $myhostname, localhost
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
inet_interfaces = loopback-only
inet_protocols = all
alias_maps = hash:/etc/aliases
alias_database = $alias_maps
readme_directory = no
biff = no
append_dot_mydomain = no
mailbox_size_limit = 0
recipient_delimiter = +
smtp_use_tls=yes
smtp_sasl_auth_enable = yes
smtp_sasl_password_maps = hash:/etc/postfix/sasl/passwd
smtp_sasl_security_options = noanonymous
smtp_always_send_ehlo = yes
relayhost = [mail1.ellak.gr]:submission
