# {{ ansible_managed }}

127.0.0.1	localhost

{{ ansible_default_ipv4.address }}   {{ fqdn }}   {{ hostname }}
{{ ansible_default_ipv6.address }}   {{ fqdn }}   {{ hostname }}

# internal network
10.19.91.1	adminvm
10.19.91.2	www1
10.19.91.3	www2
10.19.91.4	devvm
10.19.91.5	macloud
10.19.91.6	team
10.19.91.7	radio
10.19.91.8	guest1
10.19.91.9	guest2
10.19.91.10	wiki
10.19.91.11	code
10.19.91.12	db1
10.19.91.13	web1
10.19.91.14	bacula
10.19.91.15	munin
10.19.91.16	poq

# The following lines are desirable for IPv6 capable hosts
::1     localhost ip6-localhost ip6-loopback
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters
